# Custom
*.png
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logfile

growth_model.log

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# Built directory
/output

# Temporary files
*.sw?
*.pdf
*.TIQ
*.wav
*.xml
*.npy
*.pyc
U238/ETA/eta-185700to187200.PNG
U238/ETA/eta-2014.10.17.11.38.04.650.BMP

